body {
    background: linear-gradient(to bottom, rgb(195, 240, 132), rgba(195, 240, 132, 0));
    font-family: "Roboto Condensed", sans-serif;
    
    /* background-image: url("img/Background.jpg");
    background-size: cover;
    color: aqua; */
}

#title {
    color: rgb(185, 130, 13);
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    text-decoration: underline;
}

.subtitle {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(216, 104, 12);
}

.list-item {
    font-style: oblique;
}

.link {
    text-decoration: none;
}

.gradient {
    height: 400px;
    width: 70%;
    background: radial-gradient(circle, rgb(250, 2, 2) 10%, rgb(242, 141, 46) 20%, rgb(245, 230, 27) 40%, rgb(135, 219, 18) 70%);
}